body {
    background-color: aqua;
}

.text-sm {
    font-size: 0.707rem;
    /* font-size: 11px; */
}

.text-lg {
    font-size: 1.414rem;
    /* font-size: 24px; */
}

.text-up {
    text-transform: uppercase;
}

.button img {
    max-width: 30px;
    position: relative;
    z-index: 99;
    cursor: pointer;
}

.button-close {
    margin-left: 10vw;
}

#button-mail {
    max-height: 20px;
    margin-top: 4px;
}

.hidden {
    display: none;
}

.invert {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1000;
    background: #fff;
    left: 0;
    mix-blend-mode: difference;
    pointer-events: none;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hide {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
