:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Helvetica, sans-serif;
    color: #f2f2f2;
    background-image: linear-gradient(black, black, white);
}

.text-sm {
    font-size: 0.707rem;
    /* font-size: 11px; */
}

.text-lg {
    font-size: 1.414rem;
    /* font-size: 24px; */
}

.text-up {
    text-transform: uppercase;
}

.button img {
    max-width: 30px;
    position: relative;
    z-index: 99;
    cursor: pointer;
}

.button-close {
    margin-left: 10vw;
}

.button-next {
    align-self: center;
}

#button-mail {
    max-height: 20px;
    margin-top: 4px;
}

.hidden {
    display: none;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    opacity: 0; /* initially hidden */
    z-index: 999;
    transition: opacity 0.5s; /* add opacity transition */
}

.hide {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
