.main-container {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

/* display: flex;
width: 100vw;
height: 100vh;
flex-direction: column;
justify-content: flex-start;
margin: 0 auto;
user-select: none;
pointer-events: none; */

.three-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 132px;
    flex-shrink: 0;
    width: 100%;
    padding: 0 48px;
    pointer-events: auto;
    /* position: relative; */
}

.navbar-name {
    display: flex;
    font-weight: bold;
}

.slide-div {
    margin-left: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
    transition-delay: 0.1s;
}

.navbar-link {
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}

.project-card {
    position: fixed;
    top: 10%;
    bottom: 5%;
    left: 24px;
    /* left: 0; */
    width: 84%;
    height: 88%;
    border-radius: 10px;
    background-color: #202020;
    padding: 24px;
}

.project-info {
    display: flex;
    justify-content: space-between;
}

.project-title-group {
    flex-basis: 30vw;
}

.project-title {
    font-weight: bold;
}

.project-year {
    flex-basis: 10vw;
}

.project-description {
    flex-basis: 60vw;
}

.project-gallery {
    height: 90%;
    width: 100%;
    overflow: hidden;
    gap: 10vw;
    display: flex;
    align-items: center;
    justify-content: center; /* Add this to center the image vertically */
    max-height: 100%;
}

.slideshow-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    /* transition: transform 0.25s; */
}
.slide {
    width: 100%;
}

.slide img {
    margin-top: 24px;
    width: 100%;
    height: 100%;
    object-fit: contain; /* This property ensures the image fits inside the card without overflowing */
}

.slide iframe {
    margin-top: 24px;
    margin-left: 24px;
    width: 100%;
    height: 100%;
}
